<div class="form-container">
    <div class="submission-button">
        <button class="btn" (click)="submit()">{{this.editing ? "Modifier" : "Ajouter"}}</button>
    </div>
    <form *ngIf="playlistForm" [formGroup]="playlistForm" (ngSubmit)="doOk()">
        <div class="top-form-container">
            <div class="name-container">
                <div><label>Nom</label></div>
                <input type="text" formControlName="nom" [formControl]="nomCtrl">
            </div>
            <div class="public-container">
                <div class="public-label"><label>Playlist publique</label></div>
                <label class="switch">
                    <input type="checkbox" formControlName="public" [formControl]="publicCtrl" checked>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="tag-container">
                <div class="tag-label"><label>Étiquette</label></div>
                <div class="radio-tags-container">
                    <div class="radio-tag" (change)="onChange(tagCtrl)">
                        <div *ngFor="let tag of etiquettes" class="radio-button">
                            <input id="{{tag}}" formControlName="tag" [formControl]="tagCtrl" type="radio" value="{{tag}}">
                            <label for="{{tag}}">{{tag.charAt(0) + tag.substring(1).toLowerCase()}}</label>
                        </div>
                    </div>
                </div>
        </div>

<!--
        <button #myBtn (click)="openDialog()">Open Modal</button>
        <div #myModal class="modal">
            <div class="modal-content">
                <span class="close" (click)="closeDialog()">&times;</span>
                <p *ngFor="let musique of musiques$ | async"> {{musique.titre}} </p>
            </div>
        </div> -->

        <!-- <dialog class="test" #myDialog>
            <p *ngFor="let musique of musiques$ | async"> {{musique.titre}} </p>
           <button (click)="myDialog.close()">
               OK
            </button>
         </dialog>
         <button (click)="myDialog.show()">Show dialog</button> -->



        <!-- Button trigger modal -->
    <div>
        <div><label>Ajouter de la musique</label></div>
        <button class="btn-music" data-toggle="modal" data-target="#exampleModalLong">
            <i class="bi bi-plus-circle"></i>
            <i class="bi bi-plus-circle-fill"></i>
        </button>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <div class="search-bar"><input type="text" class="icon" placeholder="Rechercher" (input)="reloadMusiques($event)"></div>
          <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <table>
                <tbody class="table-body">
                    <tr class="table-tr" *ngFor="let musique of musiques$ | async">
                        <td> <music-card [id]="musique.id" [musique]="musique" (selection)="selectMusique($event)" imageMusicWidth="50"></music-card> </td>
                        <td class="table-music-info">
                            <div class="tldr-container">
                                <div class="tldr">{{musique.titre.substring(0, 50)}}</div>
                            </div>
                                <div class="tldr-container">
                                    <div class="tldr artist-div">{{musique.artiste}}</div>
                                </div>
                         </td>
                        <!-- <td> {{musique.artiste}}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


        <!-- <div class="music-label-container">
            <div class="music-label"><label>Ajouter des musiques</label></div>
            <div class="search-bar"><input type="text" class="icon" placeholder="Rechercher" (input)="reloadMusiques($event)"></div>
        </div>
        <div class="musics-container">
            <music-card *ngFor="let musique of musiques$ | async" [id]="musique.id" [musique]="musique" (selection)="selectMusique($event)" imageMusicWidth="50"></music-card>
        </div> -->

        <div class="music-selected-label"><label>Musiques séléctionnées</label></div>
        <div class="musics-container-selected">
            <music-card class="music-selected" *ngFor="let musique of musiquesSelected" [musique]="musique" (selection)="onClickRemove($event)"></music-card>
        </div>
    </form>
</div>
