:root {
    --slider-diameter: 20px
}


.form-container {
    margin: 3%;
}

.top-form-container {
    display: inline-block;
    width: 100%;
}

.name-container {
    float: left;
}

.public-container {
    float: right;
    padding-top: 5%;
    padding-left: 10%;
    /* padding-right: 6%; */
    width: 50%;
}


/* PUBLIC STYLE AND TOGGLE BUTTON (from w3schools) */

.public-label {
    display: inline-flex;
    /* margin-inline-end: 2%; */
    /* width: 95%; */
    margin-right: 4%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }


  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.6px;
    background-color: var(--dark-knight-blue);
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: var(--yellow-jaguar);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--dark-knight-blue);
  }

  input:checked + .slider:before {
    /* background-color: var(--yellow-jaguar); */
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .submission-button {
    margin-bottom: 5%;
    text-align: center;

  }


  .btn {
    font-size: 1.2rem;
    color: var(--yellow-jaguar);
    border-width: 2px;
    border-color: var(--yellow-jaguar);
  }

  .btn:hover{
    color: var(--yellow-jaguar);
    background-color: var(--dark-knight-blue);
    border-color: var(--dark-knight-blue);
  }

  /* TAGS STYLE */

.tag-container {
    margin-top: 2%;
    margin-bottom: 3%;
}

.radio-tags-container {
    width: 55%;
    overflow-x: scroll;
}

.radio-tags-container::-webkit-scrollbar {
    display: none;
}


.radio-tag {
    display: inline-flex;
}

.radio-button input[type="radio"] {
    display: none;
  }

  .radio-button {
    margin-inline: 8px;
  }
  .radio-button label {
    display: inline-block;
    background-color: white;
    color: var(--dark-knight-blue);
    padding: 1px 6px;
    font-size: 14px;
    border-radius: 11px;
    cursor: pointer;
    font-variant: small-caps;
  }
  .radio-button input[type="radio"]:checked+label {
    background-color: var(--dark-knight-blue);
    color: var(--yellow-jaguar);
  }


    .music-label {
      display: inline;
      padding-right: 15px;
    }

  .search-bar {
    position: sticky;
    left: 53%;

  }

  .search-bar input {
    height: 25px;
    width: 130px;
  }
  .icon {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    background-color: white;
  }


  .btn-music {
    display: inline;
    font-size: 1.3rem;
    color: var(--yellow-jaguar);
    outline: none;
    padding-top: 2px;
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
  }

  /* Change icon to fill one when on over with the 3 following styles*/
  .btn-music i:nth-child(2) {
    display: none;
  }
  .btn-music:hover i:nth-child(1) {
    display: none;
  }
  .btn-music:hover i:nth-child(2) {
    display: block;
  }

  /* MUSIC SELECTED STYLE */

  .selected-musics-list {
    height: 45vh;
    overflow-y: scroll;
    margin-top: 2%;
  }

  .selected-music {
    /* background-color: var(--brighter-blue); */
    color: white;
  }

  .cdk-drag-preview	{ /* from the Angular material DragDrop */
    background-color: var(--dark-knight-blue);
    box-shadow: 2px 2px 5px rgba(202, 169, 104, .3);
  }


  .music-cover {
    display: inline-block;
  }

  .music-info {
    display: inline-block;
  }






/* MODAL STYLE */
.modal {
    /* width: 200px; */
}

.modal-title {
    color: black;
}

  .modal-dialog,
.modal-content {
    height: 80%;
    width: 550px;
}

.modal-header {
    color: black;
}

.modal-dialog {
    position:fixed;
    top:30%;
    right:auto;
    left:calc(55% - var(--sidebar-width));
    bottom:0;
 }

 .close {
    position: absolute;
    left: 90%;
    /* top: 23%; */
 }



 .tldr-container {
    overflow: scroll;
    /* width: 40%; */

 }

 .tldr-container::-webkit-scrollbar {
    display: none;
 }

 .tldr {
    /* overflow-x: scroll; */
    white-space: nowrap;
    /* width: 100px; */ /* turn on if want to limit the div size */

 }

 .artist-div {
    font-size: 13px;
 }


.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}


  .modal-body {
    color: black;
  }


  .fixed_header {
    width: 400px !important;
    display: grid;
  }

.table-body {
    width: 400px !important;
}

.table-tr {
    width: 300px;
}

.table-music-info {
    width: 200px !important;
    text-align: left;
}

.td-music-cover {
    width: 70px;
    height: 70px;
}


  /* MEDIA RULES */
@media (max-width: 576px) {

    .form-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .top-form-container {
        display: inline-block;
        float: none
    }

    .name-container {
        float: none;
    }

    .public-container {
        float: none;
        justify-content: center;
        display: inherit;
        padding-right: 0;
        padding-top: 0;
        margin-top: 5%;
    }

    .public-label {
        display: block;
    }

    .tag-container {
        margin-top: 5%;
    }

    .radio-tags-container {
        margin-top: 1%;
        display: inline-block;
    }

    .musics-container {
        margin-top: 5%;
    }

    .search-bar {
        /* display: block; */
    }

    .modal-dialog,
    .modal-content {
        height: 70vh;
        width: 90vw;
    }

    .modal-dialog {
        position: fixed;
        top:13%;
        right:auto;
        left:4%;
        bottom:auto;
     }

     .search-bar {
        float: center;
        /* right: 14%; */
     }




}
