<div class="container">
    <div class="modifs">
        <div>
            <label><input type="checkbox" [(ngModel)]="nomChecked">  Changer le nom
            </label>
            <p *ngIf="nomChecked">
                <input type="text" [(ngModel)]="nom" (change)="editNom()">
                <button (click)="editNom()" ><span class="bi bi-pencil-square"></span></button>
            </p>
        </div>
        
        <div>
            <label><input type="checkbox" [(ngModel)]="prenomChecked">  Changer le prenom</label>
            <p *ngIf="prenomChecked">
                <input type="text" [(ngModel)]="prenom" (change)="editPrenom()">
                <button (click)="editPrenom()" ><span class="bi bi-pencil-square"></span></button>
            </p>
        </div>
        
        <div>
            <label><input type="checkbox" [(ngModel)]="mailChecked">  Changer l'e-mail</label>
            <p *ngIf="mailChecked">
                <input type="email" [(ngModel)]="email" (change)="editMail()">
                <button (click)="editMail()" ><span class="bi bi-pencil-square"></span></button>
            </p>
        </div>
        
        <div>
            <label><input type="checkbox" [(ngModel)]="mdpChecked">  Changer le mot de passe</label>
            <p *ngIf="mdpChecked">
                <input type="password" [(ngModel)]="mdp">
                <input type="password" [(ngModel)]="mdpVerif" (change)="editMdp()">
                <button (click)="editMdp()"><span class="bi bi-pencil-square"></span></button>
            </p>
        </div>
        <div>
            <button (click)="confirmDelete()">Supprimer mon compte</button>
        </div>
    </div>
    <div class="infos">
        <p><span class="span">Nom : </span>{{(utilisateur$ | async)?.nom}}</p>
        <p><span class="span">Prenom : </span>{{(utilisateur$ | async)?.prenom}}</p>
        <p><span class="span">Email : </span>{{(utilisateur$ | async)?.email}}</p>
        <p style="color: hsl(60, 2%, 67%);"><span class="span">Pseudo : </span>{{(utilisateur$ | async)?.pseudo}}</p>
    </div>

    <div *ngIf="deletingAccount" class="popup">
        <p>Êtes-vous sûr de vouloir supprimer votre compte ?</p>
        <button class="supp" (click)="deleteAccount()">Confirmer</button>
        <button class="cancel" (click)="cancelDelete()">Annuler</button>
    </div>
</div>



