.music-card {
    display: inline-flex;
    width: 130px;
    height: 130px;
    margin-inline: 8px;
    margin-top: 5%;
    border-radius: 5px;
}

.music-selected {
    box-shadow: 0 0 0 3px  var(--yellow-jaguar);
    border-radius: 5px;
}
