playlist-grid {
    display: grid;
    justify-content: center;
    margin-top: 2%;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    column-gap: 20px;
    row-gap: 22px;
    overflow-y: scroll;
    padding: 2%;
}

playlist-grid::-webkit-scrollbar {
    display: none;
}
