<div *ngIf="mdpCtrl.hasError('pattern') || (mdpCtrl.value != mdpVerifCtrl.value && mdpVerifCtrl.value!='')" class="alert alert-danger">
	<span *ngIf="mdpCtrl.hasError('pattern')">
		Le mot de passe doit contenir au moins:
		<ul>
			<li>8 caractères.</li>
			<li>Une lettre minuscule.</li>
			<li>Une lettre majuscule.</li>
			<li>Un chiffre.</li>
			<li>Un caractère spécial.</li>
		</ul>
	</span>
	<span *ngIf="mdpCtrl.value != mdpVerifCtrl.value && mdpVerifCtrl.value!=''">
		Le mot de passe n'est pas le meme!
	</span>
</div>
<form [formGroup]="resetMdpForm">

		<div>Nouveau Mot de passe</div>
		<input type="password" placeholder="Mot de passe" formControlName="mdp" [formControl]="mdpCtrl"/>


		<div>Confirmation du mot de passe</div>
		<input type="password" placeholder="Mot de passe" formControlName="mdpVerif" [formControl]="mdpVerifCtrl"/>

    <div>
		<input type="submit" (click)="reset()" [disabled]="resetMdpForm.invalid" value="Réinitialiser">
	</div>
</form>