#com-compo {
    width: 100%;
}

input[type="text"]{
    width: 70vw;
}

table {
    width: 100%;
    color: black;
}

.fond-comm{
    background-color: white;
}

#contenu {
    width: 50%;
}

td button {
    margin-left: 10px;
}

td#toRight{
    text-align: right;
}

div#commenter {
    display: flex;
}