<div>
    <div id="scroller" class="commentaire-contenainer" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div class="com-div" *ngFor="let com of commentaires$ | async">
            <div class="com-header">
                <div class="com-user">{{com.utilisateur.pseudo}}</div>
                <div class="com-date"> {{prettyDate(com.date)}} </div>
                <div  class="com-suppr" *ngIf="role == 'ADMINISTRATEUR' || role == 'MODERATEUR'">
                    <button class="btn-suppr" (click)="onDelete(com)"><i class="bi bi-dash-circle"></i></button>
                </div>
            </div>
            <div class="com-content">{{com.contenu}}</div>

        </div>
        <!-- <div class="com-header" id="anchor"></div> -->
    </div>

    <div class="form-floating mb-3 comment-div">
        <input type="text" class="form-control" [(ngModel)]="contenu" (keyup.enter)="onEnvoyer()">
        <button class="btn-sent" (click)="onEnvoyer()"><i class="bi bi-send-fill"></i></button>
    </div>

    <div class="com-admin" *ngIf="role == 'ADMINISTRATEUR' || role == 'MODERATEUR'">
        <h4>Trier les commentaires</h4>
        <div class=" input-text form-floating mb-3">
            <label for="pseudoInput">Pseudo</label>
            <input type="text" class="form-control input-text" id="pseudoInput" (input)="onLoadPseudo()" [(ngModel)]=findPseudo>
        </div>
        <div class="input-text form-floating mb-3">
            <label for="contentInput">Contenu</label>
            <input type="text" id="contentInput" class="form-control input-text" (input)="onLoadContent()"
                [(ngModel)]=findContent>
        </div>
        <div class="form-floating mb-3">
            <label for="dateInput">Date</label>
            <input type="date" id="dateInput" class="form-control input-date" (input)="onLoadDate()" [(ngModel)]=findDate>
        </div>
    </div>
</div>
