.playlist-buttons {
    height: 8%;
    justify-content: center;
}

.progress-container {
    display: inline-flex;
    position: relative;
    width: 20vh;
}


.literal-time-progress {
    position: absolute;
    display: grid;
    justify-content: center;
    left: 20px;
    bottom: 37px;
}

i {
    color: hsl(39, 55%, 59%);
    font-size: 1.7rem;
    vertical-align: middle;

}

p {
    color: hsl(39, 55%, 59%);
    vertical-align: middle;
}

@media (max-width: 800px) {
    i {
        font-size: 1.4rem;
    }
    input[type="range"] {
        display: none;
    }

    .literal-time-progress {
        top: 16px;
        font-size: 0.86rem;
    }
}

@media (max-width: 600px) {
    i {
        font-size: 1.4rem;
    }
    button#last, button#next {
        display: none;
    }

    .literal-time-progress {
        top: 19px;
    }
}
