<div style="padding: 0;">
    <!-- Top navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand">
            <img class="navbar-img" src="{{srcImg}}" (mouseover)="hover_title();" (mouseout)="hover_out_title()">
        </a>
        <!-- Hamburger button that toggles the navbar-->
        <button class="navbar-toggler ml-auto" type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse flex-row-reverse"
            id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" [routerLink]="[ '/accueil' ]" routerLinkActive="active" >S'inscrire</a>
                <a class="nav-item nav-link" style="margin-top: -7px;"><button id="connectBtn" class="btn btn-light rounded-pill nav-button" [routerLink]="[ '/connexion' ]" routerLinkActive="active" type="button" style="color: #121a26;">Se connecter</button></a>
            </div>
        </div>
    </nav>
</div>
