/* NAVBAR STYLE */
.navbar{
    /* margin-left: var(--sidebar-width); */
    font-family: 'Avenir';
    font-weight: 700;
    background-color: hsl(216, 36%, 15%);
}

.navbar-brand {
    display: none;
}

.navbar-nav {
    display: flex;
    text-align: right;
    /* margin-top: 14%; */

}

.navbar-img {
    width: 90px;
}


/* MEDIA RULES */
@media (max-width: 576px) {
    /* Display logo in navbar on small screens */
    .navbar-brand {
        display: inline;
    }
}
