<form [formGroup]="userForm">
    <div>
		<!-- <label for="role">Vous êtes ?</label> -->
		<select formControlName="role" [formControl]="roleCtrl">
			<option value="">-- Vous êtes ? --</option>
		  <option value="UTILISATEUR">UTILISATEUR</option>
		  <option value="CREATEUR">CREATEUR</option>
		</select>
	</div>
	<div class="insc-container">
		<input type="text" placeholder="Nom" formControlName="nom" [formControl]="nomCtrl" class="insc-input" required>
		<input type="text" placeholder="Prenom" formControlName="prenom" [formControl]="prenomCtrl" class="insc-input" required>
		<input type="text" placeholder="Pseudo" formControlName="pseudo" [formControl]="pseudoCtrl" class="insc-input" required>
		<input type="email" placeholder="Email" formControlName="email" [formControl]="emailCtrl" class="insc-input" required>
		<input type="password" placeholder="Mot de passe" formControlName="mdp" [formControl]="mdpCtrl" class="insc-input" required>
		<input type="password" placeholder="Confirmer le mot de passe" formControlName="mdpVerif" [formControl]="mdpVerifCtrl" class="insc-input" required>   
	</div>

	<div class="btn-container">
		<button type="submit" (click)="ajouter()" [disabled]="userForm.invalid">S'inscrire</button>
		
	</div>
	<div class="btn-container">
		<span class="insc">Vous avez déjà un compte FrESon ?</span>
		<button type="submit" (click)="seConnecter()" class="inscbtn">Se connecter</button>
		
	</div>
</form>