<div *ngIf="emailCtrl.hasError('email') || mdpCtrl.hasError('pattern') || (mdpCtrl.value != mdpVerifCtrl.value && mdpVerifCtrl.value!='')" class="alert alert-danger">
	<span *ngIf="emailCtrl.hasError('email')">
		L'email n'est pas valide<br/>
	</span>
	<span *ngIf="mdpCtrl.hasError('pattern')">
		Le mot de passe doit contenir au moins:
		<ul>
			<li>8 caractères.</li>
			<li>Une lettre minuscule.</li>
			<li>Une lettre majuscule.</li>
			<li>Un chiffre.</li>
			<li>Un caractère spécial.</li>
		</ul>
	</span>
	<span *ngIf="mdpCtrl.value != mdpVerifCtrl.value && mdpVerifCtrl.value!=''">
		Le mot de passe n'est pas le meme!
	</span>
</div>

<form [formGroup]="userForm">
    <div>
		<!-- <label for="role">Vous êtes ?</label> -->
		<select formControlName="role" [formControl]="roleCtrl">
			<option value="">-- Vous êtes ? --</option>
		  <option value="UTILISATEUR">UTILISATEUR</option>
		  <option value="CREATEUR">CREATEUR</option>
		</select>
	</div>
	<div class="insc-container">
		<input type="text" placeholder="Nom" formControlName="nom" [formControl]="nomCtrl" class="insc-input" required>
		<input type="text" placeholder="Prenom" formControlName="prenom" [formControl]="prenomCtrl" class="insc-input" required>
		<input type="text" placeholder="Pseudo" formControlName="pseudo" [formControl]="pseudoCtrl" class="insc-input" required>
		<input type="email" placeholder="Email" formControlName="email" [formControl]="emailCtrl" class="insc-input" required>
		<input type="password" placeholder="Mot de passe" formControlName="mdp" [formControl]="mdpCtrl" class="insc-input" required>
		<input type="password" placeholder="Confirmer le mot de passe" formControlName="mdpVerif" [formControl]="mdpVerifCtrl" class="insc-input" required>   
	</div>

	<div class="btn-container">
		<button type="submit" (click)="ajouter()" [disabled]="userForm.invalid">S'inscrire</button>
		
	</div>
	<div class="btn-container">
		<span class="insc">Vous avez déjà un compte FrESon ?</span>
		<button type="submit" (click)="seConnecter()" class="inscbtn">Se connecter</button>
		
	</div>
</form>