<div class="table-musics">
    <table class="table">
        <thead>
            <tr class="table-header">
                <th>#</th>
                <th></th>
                <th>Titre</th>
                <th>Artiste</th>
                <th *ngIf="!isSmallScreen">Album</th>
                <th>Durée</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let musique of musiques; index as indexOfElement" >
                <td>{{indexOfElement + 1}}</td>
                <td>
                    <img src="{{imgSource(musique.image, 50)}}" (click)="onClickPlay(indexOfElement)">
                </td>
                <td>
                    <div class="tldr-container">
                        <div class="tldr">{{musique.titre}}</div>
                    </div>
                </td>
                <td>
                    <div class="tldr-container">
                        <div class="tldr">{{musique.artiste}}</div>
                    </div>
                </td>
                <td *ngIf="!isSmallScreen">
                    <div class="tldr-container">
                        <div class="tldr">{{musique.albumNom}}</div>
                    </div>
                </td>
                <td>{{setTime(musique.duree)}}</td>
            </tr>
        </tbody>
    </table>
</div>
