<div >
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th id="tab-album">Album</th>
                <th>Durée</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let musique of musiques; index as indexOfElement" >
                <td>{{indexOfElement + 1}}</td>
                <td>
                    <img src="{{imgSource(musique.image, 50)}}" alt="">
                    {{musique.titre}}
                </td>
                <td id="tab-album">{{musique.albumNom}}</td>
                <td>{{setTime(musique.duree)}}</td>
            </tr>
        </tbody>
    </table>
</div>
