img {
    height: 20%;
    width: 20%;
}

table {
    color: hsl(39, 55%, 59%);
}

table th {
    font-size: 1.6rem;
}

table td {
    font-size: 1.3rem;
    vertical-align: middle;
}

@media (max-width: 800px) {
    #tab-album {
        display: none;
    }
}
