/* img {
    height: 20%;
    width: 20%;
} */

/* table {
    color: hsl(39, 55%, 59%);
}

table th {
    font-size: 1.6rem;
}
*/

.table {
    color: inherit;
    /* border-spacing: 30px; */
}

tr td:nth-child(n+3):nth-child(-n+4) {
    padding-right:30px;
}

.table-musics {
    height: 40vh;
    overflow-y: auto;
}

.table-musics::-webkit-scrollbar {
    display: none;
}


th {
    position: sticky;
    top: -1px;
    z-index: 2;
    background-color: var(--dark-knight-blue);
  }





table td {
    vertical-align: middle;
    font-size: .93rem;
}

.music-row {
    display: inline-block;
}

.tldr-container {
    overflow: scroll;
}

.tldr-container::-webkit-scrollbar {
    display: none;
}

.tldr {
    white-space: nowrap;
    width: 18vw;
}

/* .music-index, .music-img, .music-title, .music-artist,  */
/* .list-header {
    position: sticky;
} */

.list-header div, .music-row div {
    display: inline-block;
}

@media (max-width: 800px) {
    .table {
        font-size: .8rem;
        max-width: 90vw;
    }

    tr td:nth-child(n+3):nth-child(-n+4) {
        padding-right: 5px;
    }
}

@media (max-width: 576px) {
    .table-musics {
        justify-content: center;
        display: flex;
    }
    tr td:first-child {
        width: min-content;
        padding-right: 1px;
    }

    tr td:nth-child(2) {
        padding-left: 2px;
    }
}
